.heart{
    font-size: medium;
    margin-right: 5px;
    
}
.card-img-top{
    font-size: large;
}
.card-img-top{
    height:300px;
    width: auto;
}
.bi bi-cart3{
margin-right: 20px;
}
.card-img-top{
    font-size: medium;
}
